<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delta_WebApi</title>
</head>
<body>

<div>
    <h1>Delta_WebAPI</h1>
    <!----------------------/api/holidays GET isHoliday()--------------------------------------->
    <h2>Check this date for Holiday...</h2>
    <form action="#" th:action="@{/api/holidays}" method="get">
        <div>
            <div>
                <label for="isHoliday">Date</label>
            </div>
            <div>
                <input type="date"
                       name="date"
                       id="isHoliday"
                       required
                       title="Select a date"
                       th:min="${mindate}"
                       th:max="${maxdate}"/>
            </div>
        </div>
        <div>
            <button type="submit">Is this a Holiday?</button>
        </div>
    </form>
</div>
<!----------------------/api/days/count GET countHolidaysAndWorkdays()--------------------------------------->
<h2>Count the Workdays and Holidays between two dates...</h2>
<form action="#" th:action="@{/api/days/count}" method="get">
    <div>
        <div>
            <label for="startdate">Date</label>
        </div>
        <div>
            <input type="date"
                   name="startdate"
                   id="startdate"
                   required
                   title="Select the start-date"
                   th:min="${mindate}"
                   th:max="${maxdate}"/>
        </div>
        <div>
            <label for="enddate">Date</label>
        </div>
        <div>
            <input type="date"
                   name="enddate"
                   id="enddate"
                   required
                   title="Select the end-date"
                   th:min="${mindate}"
                   th:max="${maxdate}"/>
        </div>
    </div>
    <div>
        <button type="submit">Count the workdays and holidays!</button>
    </div>
</form>

</body>
</html>